{% extends 'app/Base.html' %}
{%load static%}


{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <a href="https://icons8.com/icon/ZrM1LKamqXR8/health"></a>
    {%if equipo == 1%}
    <link rel="stylesheet" href="{% static 'app/css/instinto.css' %}">
    {%elif equipo == 2%}
    <link rel="stylesheet" href="{% static 'app/css/mistico.css' %}">
    {%else%}
    <link rel="stylesheet" href="{% static 'app/css/valor.css' %}">
    {%endif%}
{% endblock %} 

{% block title %}
    <title>Poke-Home</title>
{% endblock %} 

{% block body %}
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum, sapiente explicabo doloremque neque cupiditate distinctio itaque sint totam odio repudiandae, similique dolorem cumque optio numquam. Voluptatibus similique quibusdam nobis?</p> 
{% endblock %} 
    
    
 