{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
        <!-- ===== CSS ===== -->
        
        {% block css %}
        {%if equipo == 1%}
        <link rel="stylesheet" href="{% static 'app/css/instinto.css' %}">
        {%elif equipo == 2%}
        <link rel="stylesheet" href="{% static 'app/css/mistico.css' %}">
        {%else%}
        <link rel="stylesheet" href="{% static 'app/css/valor.css' %}">
        {%endif%}
        {% endblock %} 
        
        {% block title %}

        {% endblock %} 

    </head>
    
 <body>
     
 </body>
        

        
            {% block body %}
            
            {% endblock %} 
       
        
        
        {% block js %}
        
        {% endblock %} 
   
</html>