{% extends 'app/Base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block css %}
    <a href="https://icons8.com/icon/ZrM1LKamqXR8/health"></a>
    <link rel="stylesheet" href="{% static 'app/css/battle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
        {%if equipo == 1%}
        <link rel="stylesheet" href="{% static 'app/css/instinto.css' %}">
        {%elif equipo == 2%}
        <link rel="stylesheet" href="{% static 'app/css/mistico.css' %}">
        {%else%}
        <link rel="stylesheet" href="{% static 'app/css/valor.css' %}">
        {%endif%}
    {% endblock %}
    
    {% block title %}
    <title>Batalla</title>
    {% endblock %} 

</head>

{% block body %}
<body id="body" background="{% static 'app/img/fondooR.jpg'   %}">
    
    <div class="l-navbar" id="nav-bar">
        <nav class="nav" >
            
            <div > 
                <div id="header-toggle" >
                    <a href="#" class="nav__logo" >
                        <i class='bx bx-layer nav__logo-icon' ></i>
                        <span class="nav__logo-name" >Menú</span>
                    </a>
                </div>
                

                <div class="nav__list">
                    <a href="{% url 'app:Home' usuario.id %}" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Perfil</span>
                    </a>
                    
                    <a href="{% url 'app:Pokemones' usuario.id %}" class="nav__link">
                        <span class="iconify nav__icon" data-icon="mdi:pokeball">Pokemon</span>
                        <span class="nav__name">Pokemon</span>
                    </a>
                    
                    <a href="{% url 'app:Battle' usuario.id %}" class="nav__link active">
                        <span class="iconify nav__icon" data-icon="ri:sword-line"></span>
                        <span class="nav__name">Duelo</span>
                    </a>

                    <a href="{% url 'app:Historial' usuario.id %}" class="nav__link">
                        <span class="iconify nav__icon" data-icon="la:trophy"></span>
                        <span class="nav__name">Historial Batallas</span>
                    </a>
                </div>
            </div>

            <a href="{% url 'logout' %}" class="nav__link">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Cerrar Sesión</span>
            </a>
        </nav>
    </div>

    
     
    <div id="juego"> 
        <h2 id="mName" class="text-left">{{maquina.userName}}</h2>
        <img class="sobre" src="{% static 'app/img/Battle/basePokemon2.png' %}"  id="base2">
        <img class="balls1" src="{% static 'app/img/Battle/pokeleft.png' %}"  > 
        <img class="poke1" src="{{Mp1.img}}" id="m1" > 
        <img class="poke1" src="{{Mp2.img}}" id="m2" > 
        <img class="poke1" src="{{Mp3.img}}" id="m3" > 
        <img class="poke1" src="{{Mp4.img}}" id="m4" > 
        <img class="poke1" src="{{Mp5.img}}" id="m5" > 
        <img class="poke1" src="{{Mp6.img}}" id="m6" > 

        <audio id ="audio" autoplay loop>
            <source src="{% static 'app/sound/BattleRuby2.mp3' %}" type="audio/mpeg">
        </audio>
        
        <div class="   col-4 p-2" id="play">
            <div class="col">
                <div class="row">
                    <div class="col">
                        
                        <input type="text" class="d1 text-center" id="j1"> 
                    </div>
                    <div class="col mt-2">
                        <img class="poke1" src="{% static 'app/img/Battle/vs.png' %}" id="vs"> 
                    </div>
                    <div class="col"> 
                        
                        <input type="text" class="d1 text-center" id="j2">
                    </div>
                    
                </div>
                <div class="row mt-3  mx-auto col-8">
                    <button onclick="juego()" class="btn btn-primary btn-sm btn-block" id="empezar">Pelear</button>
                    <button onclick="Siguiente()" class="btn btn-primary btn-sm btn-block" id="siguiente">Siguiente</button>
                </div>
                <div class="col   border-dark mt-2"> 
                    <h2 id="win" class="text-center">WIN</h2>
                </div>
            </div>
            
        </div>
        <h2 id="jName" class="text-left">{{usuario.userName}} </h2>
        <img class="sobre2" src="{% static 'app/img/Battle/basePokemon1.png' %}"  id="base1">
        <img class="balls2" src="{% static 'app/img/Battle/pokeright.png' %}"   >
        <img class="poke2" src="{{Jp1.img}}" id="p1"  > 
        <img class="poke2" src="{{Jp2.img}}" id="p2" > 
        <img class="poke2" src="{{Jp3.img}}" id="p3" > 
        <img class="poke2" src="{{Jp4.img}}" id="p4" > 
        <img class="poke2" src="{{Jp5.img}}" id="p5" > 
        <img class="poke2" src="{{Jp6.img}}" id="p6" > 
    </div>

    
    <div class="card  col-4 p-2" id="dificultad">
        <h1 class="text-center">Batalla</h1>
        <h4 class="text-center">Elige la dificultad</h4>
        <form  method="GET" class="text-center">
            <select id="dif" name="Buscar" value = "{{request.GET.Buscar}}" > 
                <option value="1">Lider de Gimnasio</option>
                <option value="2">Alto Mando</option>
                <option value="3">Campeón</option>  
            </select> 
        </form>
        <button id="jugar"  class=" btn btn-danger btn-block mt-2">Jugar</button>
    </div>  
    
    <div class="col-12  mt-4">
        
        <form method="POST" > 
            <div id="FTerminar">
                {% csrf_token %} 
                {{form.Estado}} 
                {{form.Dificultad}} 
                {{form.img_maquina}} 
                {{form.Name_maquina}} 
        
            </div>  
            <button type="submit" id="Terminar" class="btn btn-danger border-dark">Terminar</button>
        </form>
        <p id="img">{{maquina.img}}</p>
    </div>
    <div>
        <h4 id="final" class="text-center">Final</h4>
    </div>
    {%block js%}
    <script src="{% static 'app/js/battle.js'%}"></script>
    {% endblock %}

    
</body>
{% endblock %} 
</html>