{% extends 'app/Base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block css %}
    <a href="https://icons8.com/icon/ZrM1LKamqXR8/health"></a>
    <link rel="stylesheet" href="{% static 'app/css/battle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    {%if equipo == 1%}
    <link rel="stylesheet" href="{% static 'app/css/instinto.css' %}">
    {%elif equipo == 2%}
    <link rel="stylesheet" href="{% static 'app/css/mistico.css' %}">
    {%else%}
    <link rel="stylesheet" href="{% static 'app/css/valor.css' %}">
    {%endif%}
    {% endblock %}
    
    {% block title %}
    <title>Batalla</title>
    {% endblock %} 

</head>

{% block body %}
<body id="body" background="{% static 'app/img/fondooR.jpg'   %}">
    
    <div class="l-navbar" id="nav-bar">
        <nav class="nav" >
            
            <div > 
                <div id="header-toggle" >
                    <a href="#" class="nav__logo" >
                        <i class='bx bx-layer nav__logo-icon' ></i>
                        <span class="nav__logo-name" >Menú</span>
                    </a>
                </div>
                

                <div class="nav__list">
                    <a href="{% url 'app:Home' usuario.id %}" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Perfil</span>
                    </a>
                    
                    <a href="{% url 'app:Pokemones' usuario.id %}" class="nav__link">
                        <span class="iconify nav__icon" data-icon="mdi:pokeball">Pokemon</span>
                        <span class="nav__name">Pokemon</span>
                    </a>
                    
                    <a href="" class="nav__link active">
                        <span class="iconify nav__icon" data-icon="ri:sword-line"></span>
                        <span class="nav__name">Duelo</span>
                    </a>

                    <a href="{% url 'app:Historial' usuario.id %}" class="nav__link">
                        <span class="iconify nav__icon" data-icon="la:trophy"></span>
                        <span class="nav__name">Historial Batallas</span>
                    </a>
                </div>
            </div>

            <a href="{% url 'logout' %}" class="nav__link">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name" >Cerrar Sesión</span>
            </a>
        </nav>
    </div>

    
    <div class="card bg-light border-dark col-4 p-2" id="dificultad">
        <h1>Batalla</h1>
        <h4>Elige la dificultad</h4>
        <form  method="GET" >
            <select id="dif" name="Buscar">
                <option value="1">Lider de Gimnasio</option>
                <option value="2">Alto Mando</option>
                <option value="3">Campeón</option>  
            </select>
            <button type="submit" id="jugar" href="{% url 'app:Battle' usuario.id %}">Jugar</button>
        </form>
    </div>
    
    
    {%block js%}
    <script src="{% static 'app/js/battle.js'%}"></script>
    {% endblock %}

</body>
{% endblock %} 
</html>