{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'app/css/nav.css' %}">
        {% block css %}
        
        {% endblock %} 
        
        {% block title %}

        {% endblock %} 

    </head>
    <body id="body-pd"> 

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div > 
                    <div id="header-toggle" >
                        <a href="#" class="nav__logo" >
                            <i class='bx bx-layer nav__logo-icon' ></i>
                            <span class="nav__logo-name" >Menú</span>
                        </a>
                    </div>
                    

                    <div class="nav__list">
                        
                        <a href="{% url 'app:registroMaquina' %}" class="nav__link active">
                            <span class="iconify" data-icon="fluent:bot-add-24-regular"></span>
                            <span class="nav__name">Agregar Maquina</span>
                        </a>
                        <a href="{% url 'app:verMaquinas' %}" class="nav__link">
                            <span class="iconify" data-icon="fluent:bot-24-regular"></span>
                            <span class="nav__name">Visualizar Maquinas</span>
                        </a>
                         
                    </div>
                </div>

                <a href="{% url 'logout' %}" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Cerrar Sesión</span>
                </a>
            </nav>
        </div>

        
            {% block body %}
            
            {% endblock %} 
       
        
        <script src="{% static 'app/js/nav.js'%}"></script>
        {% block js %}
        
        {% endblock %} 
    </body>
</html>