{% extends 'app/Base.html' %}
{% load static %}
   
    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <a href="https://icons8.com/icon/ZrM1LKamqXR8/health"></a>

    <link rel="stylesheet" href="{% static 'app/css/Historial.css' %}">
    {%if equipo == 1%}
    <link rel="stylesheet" href="{% static 'app/css/instinto.css' %}">
    {%elif equipo == 2%}
    <link rel="stylesheet" href="{% static 'app/css/mistico.css' %}">
    {%else%}
    <link rel="stylesheet" href="{% static 'app/css/valor.css' %}">
    {%endif%}
    {% endblock %} 

    {% block title %}
    <title>PokeMones</title>
    {% endblock %} 
    
     
    {% block body %}
    <!--fondo--->
    <body id="body-pd" > 
    <div class="l-navbar" id="nav-bar">
        <nav class="nav" >
            
            <div > 
                <div id="header-toggle" >
                    <a href="#" class="nav__logo" >
                        <i class='bx bx-layer nav__logo-icon' ></i>
                        <span class="nav__logo-name" >Menú</span>
                    </a>
                </div>
                

                <div class="nav__list">
                    <a href="{% url 'app:Home' id %}" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Perfil</span>
                    </a>
                    
                    <a href="{% url 'app:Pokemones' id %}" class="nav__link">
                        <span class="iconify nav__icon" data-icon="mdi:pokeball">Pokemon</span>
                        <span class="nav__name">Pokemon</span>
                    </a>
                    
                    <a href="{% url 'app:Battle' id %}" class="nav__link">
                        <span class="iconify nav__icon" data-icon="ri:sword-line"></span>
                        <span class="nav__name">Duelo</span>
                    </a>

                    <a href="{% url 'app:Historial' id %}" class="nav__link active">
                        <span class="iconify nav__icon" data-icon="la:trophy"></span>
                        <span class="nav__name">Historial Batallas</span>
                    </a>
                </div>
            </div>

            <a href="{% url 'logout' %}" class="nav__link">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Cerrar Sesión</span>
            </a>
        </nav>
    </div>
    <audio id ="audio" autoplay loop>
        <source src="{% static 'app/sound/Ruby2.mp3' %}" type="audio/mpeg">
        
    </audio>

        <div class="  ">
            <h1 class="text-center mt-4">Historial de batallas</h1>
            <div class="col-8 "> 
                <div class="col">
                    {% for batalla in batallas  %}
                        <div class="row" >
                            <div class="card mt-4" id="card"> 
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4">
                                            <img class="card-img mx-auto" src="{{batalla.img_maquina}}" alt=""  style="width: 12rem; height:12rem;">
                                        </div> 
                                        <div class="col">
                                            <div class="row"> 
                                                <div class="col" id="nombre"> 
                                                    
                                                    <div class="col">
                                                        <div class="row">
                                                            <h3 class="card-title text-center mt-5">Contrincante:</h3> 
                                                        </div>
                                                        <div class="row">
                                                            <h4 class="card-title text-center">{{batalla.Name_maquina}}</h5> 
                                                        </div>
                                                    </div> 
                                                    
                                                </div>
                                                <div class="  col" id="dificultad">
                                                    <div class="row">
                                                        <h3 class="card-title text-center mt-5">Dificultad:</h3> 
                                                    </div>
                                                    <div class="row">
                                                        <h4 class="card-title text-center">{{batalla.Dificultad}}</h4></div>
                                                    </div>
                                                <div class="col resultado">
                                                    <div class="row"> 
                                                        <h4 class="card-title text-center mt-5">Resultado:</h4> 
                                                    </div>
                                                    <div class="row"> 
                                                        {% if batalla.Estado == 'VICTORY'  %}
                                                            <img class="card-img" src="{% static 'app/img/estados/1.jpg'   %}" alt="image"  >
                                                        {% elif batalla.Estado == 'LOSE' %}
                                                            <img class="card-img  " src="{% static 'app/img/estados/2.jpg'   %}" alt="image"  >
                                                        {% else %}
                                                            <img class="card-img  " src="{% static 'app/img/estados/3.jpg'   %}" alt="image"  >
                                                        {% endif %}
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                     
                                </div> 
                            </div>
                        </div>
                    {% endfor %}   
                </div> 
            </div> 
    </div>
    {%block js%}
    <script src="{% static 'app/js/nav.js'%}"></script>
    {% endblock %}
</body>      
    {% endblock %} 
