{% extends 'app/Base.html' %}
{% load static %}
   
    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <a href="https://icons8.com/icon/ZrM1LKamqXR8/health"></a>
    {%if equipo == 1%}
    <link rel="stylesheet" href="{% static 'app/css/instinto.css' %}">
    {%elif equipo == 2%}
    <link rel="stylesheet" href="{% static 'app/css/mistico.css' %}">
    {%else%}
    <link rel="stylesheet" href="{% static 'app/css/valor.css' %}">
    {%endif%}
    {% endblock %} 

    {% block title %}
    <title>PokeMones</title>
    {% endblock %} 
    
     
    {% block body %}
    <!--fondo--->
    <body id="body-pd" > 
    <div class="l-navbar" id="nav-bar">
        <nav class="nav" >
            
            <div > 
                <div id="header-toggle" >
                    <a href="#" class="nav__logo" >
                        <i class='bx bx-layer nav__logo-icon' ></i>
                        <span class="nav__logo-name" >Menú</span>
                    </a>
                </div>
                

                <div class="#">
                    <a href="{% url 'app:Home' id %}" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Perfil</span>
                    </a>
                    
                    <a href="{% url 'app:Pokemones' id %}" class="nav__link active">
                        <span class="iconify nav__icon" data-icon="mdi:pokeball">Pokemon</span>
                        <span class="nav__name">Pokemon</span>
                    </a>
                    
                    <a href="{% url 'app:Battle' id %}" class="nav__link">
                        <span class="iconify nav__icon" data-icon="ri:sword-line"></span>
                        <span class="nav__name">Duelo</span>
                    </a>

                    <a href="{% url 'app:Historial' id %}" class="nav__link">
                        <span class="iconify nav__icon" data-icon="la:trophy"></span>
                        <span class="nav__name">Historial Batallas</span>
                    </a>
                </div>
            </div>

            <a href="{% url 'logout' %}" class="nav__link">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Cerrar Sesión</span>
            </a>
        </nav>
    </div>

    <h1 class="text-center mt-3">MI EQUIPO POKÉMON</h1>
        <div class="row " >
                <div class="col-10 mx-auto" >
                    <div class="row">
                           {% for poke in pokemons%}
                                <div class="col-4 mt-3  ">
                                    <div class="card bg-light border border-dark">
                                        <div class="card-header bg-transparent border-dark">
                                            <h4 class="card-title text-center">{{poke.pokenombre}}</h4> 
                                        </div>
                                        <img class="card-img mx-auto" src="{{poke.img}}" alt="Card image"  style="width: 12rem;">
    
                                        <div class="card-footer bg-transparent  border-dark">
                                            <div class="row">
                                                <div class="col-4">
                                                    <span class="iconify" data-icon="whh:lifeempty"></span>{{poke.vida}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="iconify" data-icon="akar-icons:shield"></span>{{poke.defensa}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="iconify" data-icon="akar-icons:sword"></span>{{poke.ataque}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="card-footer bg-transparent  border-dark">
                                            
                                                
                                                <div class="row-4">
                                                    <span class="iconify" data-icon="mdi:gamepad-circle-left"></span> {{poke.mov1}}
                                                </div>
                                                <div class="row-4">
                                                    <span class="iconify" data-icon="mdi:gamepad-circle-up"></span> {{poke.mov2}}
                                                </div>
                                                <div class="row-4">
                                                    <span class="iconify" data-icon="mdi:gamepad-circle-right"></span> {{poke.mov3}}
                                                </div>
                                                <div class="row-4">
                                                    <span class="iconify" data-icon="mdi:gamepad-circle-down"></span> {{poke.mov4}}
                                                </div> 
                                                        
                                        </div>
                                    </div>
                                </div>               
                            {%endfor%} 
                               
                        
                    </div>
                    
                </div>
            </div>

            

        
    </div>
    {%block js%}
    <script src="{% static 'app/js/nav.js'%}"></script>
    {% endblock %}
</body>      
    {% endblock %} 
