{% extends 'app/PokeAdmin.html' %}
{% load static %}

    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/registroMaquina.css' %}"> 
    
    
    {% endblock %} 

    {% block title %}
    <title>Poke-Machine</title>
    {% endblock %} 
    
     
    {% block body %}
   <div class="row">
    <div class="card rounded  col-4  p-4 mt-2 font-weight-normal border border-primary bg-light ">
        <h1 class="text-center card-title ">Registro de Maquina</h1>
        

            <form action=""  method="POST">
               
                

                {% csrf_token %} 
                 <!--{{form}}-->
                 <div id="carouselExampleControls" class="carousel slide border-primary  " data-bs-ride="carousel" >
                    <div class="carousel-inner  text-dark">
                        <div class="carousel-item active">
                            <img id="img" class = " rounded-circle d-block w-50 mx-auto" src="{% static 'app/img/Avatares/1.jpg' %}"  alt="" >
                            <button onclick="previusImg()" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden ">Previous</span>
                            </button>
                            <button onclick="nextImg()" class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
               
                <div class="container">
                    {{form.img}}
                    <div class="card-title m-2 input-contenedor" >
                        <h3 class="card-title m-2">Nombre de Entrenador</h3>
                        {{form.userName}}
                     </div>
                    <div class="row p-0">
                        <div class="col">
                            <div class="card-title input-contenedor">
                                <h5 class="card-title m-2">Género</h5>
                                {{form.genero}}
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="card-title  input-contenedor" >
                                <h5 class="card-title m-2">Equipo</h5>
                                {{form.equipo}}
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-title  input-contenedor" >
                                <h5 class="card-title m-2">Dificultad</h5>
                                {{form.dificultad}}
                                
                            </div>
                        </div>
                        <br>
                        
                            <div class="row">
                                <h3 class="text-center">Equipo Pokémon</h3>
                                <div class="col" id="poke1">
                                    <h5 class="card-title m-2">pokémon1</h5>
                                    {{form.poke1}}
                                </div>
                                <div class="col" id="poke2">
                                    <h5 class="card-title m-2">pokémon2</h5>
                                    {{form.poke2}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" id="poke3">
                                    <h5 class="card-title m-2">pokémon3</h5>
                                    {{form.poke3}}
                                </div>
                                <div class="col" id="poke4">
                                    <h5 class="card-title m-2">pokémon4</h5>
                                    {{form.poke4}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" id="poke5">
                                    <h5 class="card-title m-2">pokémon5</h5>
                                    {{form.poke5}}
                                </div>
                                <div class="col" id="poke6">
                                    <h5 class="card-title m-2">pokémon6</h5>
                                    {{form.poke6}}
                                </div>
                            </div>
                        

                        <div class="col">
                            <div class="card-title m-2 input-contenedor" >
                                <h3 class="card-title m-2">password</h5>
                                {{form.password}}
                                
                            </div>
                        </div>
                    </div>

                
                </div>
                
                <div class="row mt-4">
                     
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    
                </div>
            
            </form>

   </div> 

   <div class="pokemon-container col-8 mt-2">
        <div class="row">
            <div class="col-md-12 search">
                
                <div id="custom-search-innput">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar..." id="Buscar">
                        <span class="input-group-list"> 
                        
                            <button class="btn btn-secondary" id="search"> <i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row " id="cards"></div> 
            <div id="spinner" class="spinner-border text-black mx-auto mt-5" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>  
        </div>
        
        

        <nav class="mt-2">
            <ul class="pagination justify-content-center">
                
                        <li  class="page-item ">
                            <button class="page-link" id="back">Back</button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" id="b1" onclick="cambio(1)">1</button>
                        </li> 
                        <li class="page-item">
                            <button class="page-link num" id="b2"  onclick="cambio(2)">2</button>
                        </li> 
                        <li class="page-item">
                            <button class="page-link num" id="b3"  onclick="cambio(3)">3</button>
                        </li> 
                        <li class="page-item">
                            <button class="page-link num" id="b4"  onclick="cambio(4)">4</button>
                        </li> 
                        <li class="page-item">
                            <button class="page-link num" id="b5"  onclick="cambio(5)">5</button>
                        </li> 
                        <li class="page-item">
                            <button class="page-link " id="next">Next</button>
                        </li>    
            </ul>
        </nav>
        <template id="template-card">
            
        <div class="col-4 mt-2 ">
            <div class=" card bg-light border-primary">
                <div class="card-header bg-transparent border-dark ">
                    <h4 class="card-title text-center">Nombe</h4> 
                </div>
                <img class="card-img mx-auto" src="" alt="Card image"  style="width: 9rem;">
                <div class="card-footer bg-transparent  border-dark">
                    
                    <div class="row">
                        <div class="col-4"> 
                            <span class="iconify" data-icon="whh:lifeempty"></span>
                            <p id="Hp">Hp: 120 </p>
                        </div>
                        <div class="col-4">
                            <span class="iconify" data-icon="akar-icons:shield"></span>
                            <p  id="Attack">Attack: 120</p>
                        </div>
                        <div class="col-4">
                            <span class="iconify" data-icon="akar-icons:sword"></span>
                            <p id="Defense">Defense: 120</p>
                        </div>
                    </div>
                    <div class="row">
                        <button class=" btn btn-primary btn-sm btn-block " >Agregar</button>
                    </div>
                </div>
 
            </div>
        </div>
        </template>    
   </div>
   <!---
   <div class=" pokemon-container col-8 mt-2">

        

        <div class="row">
            <div class="col-4 mt-2 ">
                <div class=" card bg-light">
                    <div class="card-header bg-transparent border-success">
                        <h4 class="card-title text-center">Nombe</h4> 
                    </div>
                    <img class="card-img mx-auto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/2.png" alt="Card image"  style="width: 10rem;">
                    <div class="card-footer bg-transparent  border-success">
                        <div class="card-body p-0"> 
                            <div class="row">
                                <div class="col"><p>Hp: 120 </p></div>
                            </div>
                            <div class="row">
                                <div class="col"><p>Atack: 120</p></div>
                                <div class="col"><p>Defense: 120</p></div> 
                            </div>
                            <div class="row">
                                <button class=" btn btn-primary btn-sm btn-block " >Agregar</button>
                            </div>
                        </div>  
                    </div>  
                    
                </div>
            </div> 
            <div class="col-4 mt-2 ">
                <div class=" card bg-light">
                    <div class="card-header bg-transparent border-success">
                        <h4 class="card-title text-center">Nombe</h4> 
                    </div>
                    <img class="card-img mx-auto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/2.png" alt="Card image"  style="width: 10rem;">
                    <div class="card-footer bg-transparent  border-success">
                        <div class="card-body p-0"> 
                            <div class="row">
                                <div class="col"><p>Hp: 120 </p></div>
                            </div>
                            <div class="row">
                                <div class="col"><p>Atack: 120</p></div>
                                <div class="col"><p>Defense: 120</p></div> 
                            </div>
                            <div class="row">
                                <button class=" btn btn-primary btn-sm btn-block " >Agregar</button>
                            </div>
                        </div>  
                    </div>  
                    
                </div>
            </div> 
            <div class="col-4 mt-2 ">
                <div class=" card bg-light">
                    <div class="card-header bg-transparent border-success">
                        <h4 class="card-title text-center">Nombe</h4> 
                    </div>
                    <img class="card-img mx-auto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/2.png" alt="Card image"  style="width: 10rem;">
                    <div class="card-footer bg-transparent  border-success">
                        <div class="card-body p-0"> 
                            <div class="row">
                                <div class="col"><p>Hp: 120 </p></div>
                            </div>
                            <div class="row">
                                <div class="col"><p>Atack: 120</p></div>
                                <div class="col"><p>Defense: 120</p></div> 
                            </div>
                            <div class="row">
                                <button class=" btn btn-primary btn-sm btn-block " >Agregar</button>
                            </div>
                        </div>  
                    </div>  
                    
                </div>
            </div> 
            <div class="col-4 mt-2 ">
                <div class=" card bg-light">
                    <div class="card-header bg-transparent border-success">
                        <h4 class="card-title text-center">Nombe</h4> 
                    </div>
                    <img class="card-img mx-auto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/2.png" alt="Card image"  style="width: 10rem;">
                    <div class="card-footer bg-transparent  border-success">
                        <div class="card-body p-0"> 
                            <div class="row">
                                <div class="col"><p>Hp: 120 </p></div>
                            </div>
                            <div class="row">
                                <div class="col"><p>Atack: 120</p></div>
                                <div class="col"><p>Defense: 120</p></div> 
                            </div>
                            <div class="row">
                                <button class=" btn btn-primary btn-sm btn-block " >Agregar</button>
                            </div>
                        </div>  
                    </div>  
                    
                </div>
            </div> 
            <div class="col-4 mt-2 ">
                <div class=" card bg-light">
                    <div class="card-header bg-transparent border-success">
                        <h4 class="card-title text-center">Nombe</h4> 
                    </div>
                    <img class="card-img mx-auto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/2.png" alt="Card image"  style="width: 10rem;">
                    <div class="card-footer bg-transparent  border-success">
                        <div class="card-body p-0"> 
                            <div class="row">
                                <div class="col"><p>Hp: 120 </p></div>
                            </div>
                            <div class="row">
                                <div class="col"><p>Atack: 120</p></div>
                                <div class="col"><p>Defense: 120</p></div> 
                            </div>
                            <div class="row">
                                <button class=" btn btn-primary btn-sm btn-block " >Agregar</button>
                            </div>
                        </div>  
                    </div>  
                    
                </div>
            </div> 
            <div class="col-4 mt-2 ">
                <div class=" card bg-light">
                    <div class="card-header bg-transparent border-success">
                        <h4 class="card-title text-center">Nombe</h4> 
                    </div>
                    <img class="card-img mx-auto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/2.png" alt="Card image"  style="width: 10rem;">
                    <div class="card-footer bg-transparent  border-success">
                        <div class="card-body p-0"> 
                            <div class="row">
                                <div class="col"><p>Hp: 120 </p></div>
                            </div>
                            <div class="row">
                                <div class="col"><p>Atack: 120</p></div>
                                <div class="col"><p>Defense: 120</p></div> 
                            </div>
                            <div class="row">
                                <button class=" btn btn-primary btn-sm btn-block " >Agregar</button>
                            </div>
                        </div>  
                    </div>  
                    
                </div>
            </div>   
        </div>
        <nav class="mt-2">
            <ul class="pagination justify-content-center">
                
                        <li  class="page-item ">
                            <button class="page-link">Back</button>
                        </li>
                
                        <li className="page-item">
                            <button class="page-link" >Next</button>
                        </li>    
            </ul>
        </nav>
   </div>-->
   
    
</div>

    {% endblock %} 

    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/ab566bad4a.js" crossorigin="anonymous"></script> 
        <script src="{% static 'app/js/pokelist.js' %}"></script>
    {% endblock %} 