{% extends 'app/PokeAdmin.html' %}
{% load static %}
    {% block css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'app/css/registroMaquina.css' %}"> 
    {% endblock %} 

    {% block title %}
    <title>Poke-Machine</title>
    {% endblock %} 

        
     
    {% block body %}

    <div id="container" class="col-10 mx-auto mt-5"> 
        <h1 class="text-center">Usuarios Máquinas</h1>
        <div class="row">
            {% for Maquina in maquinas %} 
            <div class="col"> 
                <div class="card row mx-auto mt-2">
                    <div class="card-header text-center">
                        {{Maquina.userName}}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img id="img" class = " rounded-circle d-block w-20 mx-right"  src="{{Maquina.img}}"    style="width: 15rem;"> 
                            </div> 
                        </div> 
                    </div>
                     
                </div> 
            </div> 
            {% endfor %}
        </div>
    </div>

    {% endblock %} 

    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/ab566bad4a.js" crossorigin="anonymous"></script> 
    {% endblock %} 