body{
   
  background-size: cover; 
   
  height: 100vh;
  width: 100vh;
  position:absolute;
}


.sobre{
    position:absolute; 
    top: 8em;
    left : 53em;
    z-index: 1;
  }

  .poke1{
    position:absolute; 
    
    height: 20em;
    width: 20em;
    top: -3em;
    left : 58em;
    z-index: 1;
  }

  .balls1{
    position:absolute; 
    top: 5em;
    left : 5em;
    z-index: 1;
  }
   

  .sobre2{
    position:absolute; 
    top: 30em;
    left : 8em;
    z-index: 1;
  }

  .poke2{
    position:absolute; 
    height: 25em;
    width: 25em;
    top: 14em;
    left : 10em;
    z-index: 1;
  }

  .balls2{
    position:absolute; 
    top: 33em;
    left : 54em;
    z-index: 1;
  }

  #play {
    position:absolute; 
    top: 20em;
    left : 35em;
    z-index: 1;
  }

  #dificultad{
    position:absolute; 
    top: 15em;
    left : 30em;
    z-index: 1;
    font-family: 'Bowlby One SC Bold', cursive;
    font-size: 20px;
    text-decoration-color:#000;
    color: #000;
    border: 2px solid #030303;
    opacity: 0.9; 
    background-color: rgb(222, 222, 228);
    border-radius: 7px;
  }

  #vs{
    position:absolute; 
    top: -1em;
    left : 5em;
    height: 6em;
    width: 6em;
    z-index: 1;
  }

  .d1{ 
    font-family: 'Bowlby One SC Bold', cursive;
    font-size: 20px;
    text-decoration-color:#000;
    color: #000;
    border: 2px solid #030303;
    opacity: 0.8; 
    background-color: rgb(222, 222, 228);
    border-radius: 7px;
    width: 80px; 
    height: 60px;
    
}

#jName, #mName{
  font-family: 'Bowlby One SC Bold', cursive;
  font-size: 20px;
  text-decoration-color:#000;
  color: #000;
  border: 2px solid #030303;
  opacity: 0.8; 
  background-color: rgb(222, 222, 228);
  border-radius: 7px;
  width: 160px; 
  height: 60px;
  padding-top: 15px;
}

#jName{
  position:absolute; 
  left : 64em; 
  top: 23em;
}

#mName{
  position:absolute;  
  top: 1em;
}

#win{ 
  font-family: 'Bowlby One SC Bold', cursive;
  font-size: 25px;
  text-decoration-color:#000;
  color: #000;
  border: 2px solid #030303;
  background-color: rgb(222, 222, 228);
  opacity: 0.8;
  border-radius: 7px;
  height: 50px;
}

#empezar, #siguiente, #Terminar{ 
  height: 40px; 
  border-radius: 20px;
  font-size: 20px;
}

#final{
  position:absolute;  
  font-family: 'Bowlby One SC Bold', cursive;
  font-size: 35px;
  text-decoration-color:#000;
  color: #000;
  border: 2px solid #030303;
  background-color: rgb(222, 222, 228);
  left : 16em; 
  top: 9.5em;
  height: 50px;
  width: 280px; 
}

#Terminar{ 
  position:absolute; 
  top: 20em;
  left : 33em;
  z-index: 1;
  border: 2px solid #030303;
}

#juego, #siguiente, #p2, #p3, #p4, #p5, #p6, #m2, #m3, #m4, #m5, #m6, #win, #FTerminar, #final, #Terminar, #img{
  
  display: none;
}


