*{ 
    font-family: 'Bowlby One SC Bold', cursive; 
}

body{
    
    background-image: url("../img/FondoHistorial.png"); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#card{
    opacity: 0.9;
    border-radius: 20px;
    border: 4px solid rgb(3, 3, 3);
}