*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bowlby One SC', cursive;
     
}

body{
    height: 100vh;
    background-image: url("../img/fondoo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gastly{
    float: left;
    
}

.haunter{
    float: right;

}
.login{
    height: 550px;
    position: absolute;    
}
.formulario{
    width: 400px;
    position: absolute;
    background-color: #fff;
    border: 3px solid #8f4790;
    border-radius: 10px;
    padding: 30px 60px;
    top: 290px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-decoration-color:#fff;
    
}

#id_password, #id_username{ 
    text-decoration-color:#000;
    color: #000;
}

a{ 
    text-decoration-color:#8f4790;
    color: #8f4790;
    text-decoration: none;
    float: right;
}

label {
    cursor: pointer;
    color: #000;

}


#gengar{
    display:block;
    margin:auto;
    }

.formulario{
    background-color:rgb(250, 250, 250) ;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    
}
.formulario input,label,button{
    display: block;
    width: 100%;
    margin: 5px 0;
    opacity: 1;
}
.formulario input{
    height: 40px;
    border: 2px solid #8f4790;
    border-radius: 10px;
    padding: 0 8px;
    background-color: #fff;
}
.formulario button{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    height: 40px;
    background-color: #824283;
    box-shadow: 1px 1px 2px #000;
    color: #fff;
}
.formulario button:hover{
    background-color: #8f4790;
}

