#id_userName, #id_genero, #id_equipo, #id_dificultad, #id_password, #id_poke1, #id_poke2, #id_poke3, #id_poke4, #id_poke5, #id_poke6{ 
    font-family: 'Bowlby One SC', cursive;
    text-decoration-color:#000;
    color: #000;
    border: 2px solid #0A92ED;
    opacity: 0.7;
    border-radius: 7px;
    width: 100%;
    
    height: 30px;
}

#id_genero, #id_equipo, #id_dificultad{ 
    width: 80%; 
    height: 30px;
}

#id_poke1, #id_poke2, #id_poke3, #id_poke4, #id_poke5, #id_poke6{ 
    font-family: 'Bowlby One SC', cursive;
    text-decoration-color:#000;
    color: #000;
    background: #ccc;
    border: 2px solid #ccc;
    opacity: 0.7;
    border-radius: 7px; 
    display: none;
    height: 30px;
}

#poke1, #poke2, #poke3, #poke4, #poke5, #poke6{ 
    display: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 0px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  font-family: 'Bowlby One SC', cursive;
  content: '>';
  font-size: 55px;
  color: rgb(0, 10, 111);
}

.carousel-control-prev-icon:after {
  font-family: 'Bowlby One SC', cursive;
  content: '<';
  font-size: 55px;
  color: rgb(0, 10, 111);
}

.carousel-inner> .item> img {
 width: 640px;
 height: 360px;
}

#id_img{
    opacity: 0.0;
}