#id_email, #id_nombreCompleto, #id_userName, #id_genero, #id_equipo, #id_password, #id_img{ 
    font-family: 'Bowlby One SC', cursive;
    text-decoration-color:#000;
    color: #000;
    border: 2px solid #0A92ED;
    opacity: 0.7;
    border-radius: 7px;
    width: 100%;
    
    height: 30px;
}

#id_img{
  display: block;
}

#id_img{
  opacity: 0.0;
 }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 0px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 10, 111);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 10, 111);
}

.carousel-inner> .item> img {
 width: 640px;
 height: 360px;
}