{% load static %}
<!DOCTYPE html>
<html lang="Es">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Poke-Login</title>
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}"> 
</head>
<body>
    <div class="login">
        <img class = "gastly" src="https://projectpokemon.org/images/normal-sprite/gastly.gif" alt="" >
        <img class = "haunter" src="https://projectpokemon.org/images/normal-sprite/haunter.gif" alt="" >
        <img src="{% static 'app/img/idle/1.png' %}" id="gengar" alt="">
        <form class="formulario" action="" method="POST"> 
            {% csrf_token %} 
            <label>Usuario</label>
            {{ form.username}}
            <label>Contraseña</label>
            {{form.password}}
            <button type="submit">INGRESAR</button>
            <a href="{% url 'app:RegistroEntrenador' %}">Registrarse</a>
        </form>
        
        
        
    </div>
    
    <script src="{% static 'app/js/login.js' %}"></script>
  
</body>
