{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Poke-Registro</title>
    <link rel="stylesheet" href="{% static 'app/css/RegistroEntrenador.css' %}">
    
    <script src="{% static 'app/js/img.js' %}"></script>
</head>
<body background="{% static 'app/img/fondooR.jpg'   %}" style="background-repeat:no-repeat; background-size: cover ; background-attachment: fixed;">
    <div class="container" >


        <div class="card  mx-auto col-4 p-4 mt-5 font-weight-normal border border-primary" style="background-color: rgba(245, 245, 245, 0.8); border-radius: 20px; font-family: 'Bowlby One SC', cursive;" >
            <h1 class="text-center card-title ">Registro de Usuario</h1>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id="img" class = " rounded-circle d-block w-50 mx-auto" src="{% static 'app/img/Avatares/1.jpg' %}"  alt="" >
                        <button onclick="previus()" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button onclick="next()" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="container">
                        
                            {{form.img}}
                        <div class="card-title m-2 input-contenedor">
                            <h3 class="card-title m-2">Correo Electrónico</h3>
                            {{form.email}}
                        </div>
                        <div class="card-title m-2 input-contenedor">
                            <h3 class="card-title m-2">Nombre Completo</h3>
                            {{form.nombreCompleto}}
                        </div>
                        <div class="card-title m-2 input-contenedor">
                            <h3 class="card-title m-2">Nombre de Entrenador</h3>
                            {{form.userName}}
                         </div>
                        <div class="row">
                            <div class="col">
                                <div class="card-title m-2 input-contenedor">
                                    <h3 class="card-title m-2">Genero</h3>
                                    {{form.genero}}
                                </div>

                            </div>
                            <div class="col">
                                <div class="card-title m-2 input-contenedor">
                                    <h3 class="card-title m-2">Equipo</h3>
                                    {{form.equipo}}
                                </div>
                            </div>
                        </div>


                        <div class="card-title m-2 input-contenedor">
                            <h3 class="card-title m-2">Contraseña</h3>
                            {{form.password}}
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <a href="{% url 'logout' %}"  class="btn btn-danger" style="width:10em">Cancelar</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary " style="width:10em" >Registrar</button>
                        </div>
                    </div>
                </form>

       </div>
    </div>
</body>
</html>